.App {
  background-color: #111;
  text-align: center;
  height: 100vh;
 }

.App-header {
  align-items: center;
  text-align: center;
  padding-top: 30px;
  font-size: 3rem;
  font-family:"DS-Digital";
  font-weight: 500;
  color:rgb(32, 112, 112);
  padding-bottom: 120px;
}

.Calculator-Header { 
  background-image: url('../public/blue-bg.jpg');
  padding-top: 60px;
  /* background: linear-gradient(to bottom,orange,rgb(255, 255, 255) ); */
  padding-bottom: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 3px solid black;
}

.Input-Field{
  padding-right: 1%;
  padding-left: 1%;
  width:70%;
  height: 20%;
  background-color:rgb(114, 165, 139);
  color:#444;
  font-size: 28px;
  color:#333; 
  font-family: "DS-Digital";
  font-size: 2.2rem;
  font-weight: 800;
  text-align: right;
  border: 6px solid black;
  border-radius: 8px;
  cursor:default;
}

.Calculator-Buttons{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    width: 85%;
    height: 85%;
    color: black;
    font-size: 30px;
    font-weight: 950;
    border-radius: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background-color: #9594a7; */
    background-image: url('../public/white-bg.jpg');
   margin: 10px 10px 10px 10px;

}

.Calculator-Body{
  background-image: url('../public/green-bg.jpg');
  padding-top: 4%;
  display: grid;
  grid-template-columns: repeat(4,0.11fr);
  justify-content: center;
  padding-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* background: linear-gradient(rgb(19, 127, 235),white); */
  border-top: 3px solid black;
}

.Calculator-Main{
width: 70%;
margin-left: 14%;
border: 6px solid black;
border-radius: 20px;

}